affine
attrs
autopep8
certifi
charset-normalizer
click
click-plugins
cligj
Fiona
GDAL
geojson
geomet
geopandas
idna
numpy
packaging
pandas
pika
pycodestyle
pyparsing
pyproj
python-dateutil
python-dotenv
pytz
rasterio
requests
shapely
six
snuggs
toml
tzdata
urllib3
xarray
netcdf4